.content {
    position: relative;

    .panel {
        border: 1px solid #ddd;
        padding: 16px;
        box-sizing: border-box;

        .title {
            font-size: 16px;
            color: #333;
            font-weight: bold;
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
        }

        .thumbnail {
            width: 144px;
            height: 96px;
            display: block;
            margin-right: 12px;
        }

        .info-list {
            line-height: 24px;
            font-size: 14px;
            margin: 0;

            .info {
                color: #999;
            }

            .value {
                font-weight: bold;
                color: #333;
            }
        }

        .row {
            display: flex;
            justify-content: start;
        }

        .plan-list {
            font-size: 14px;
            line-height: 43px;
            width: 100%;
            border: 1px solid #ddd;

            td {
                border-bottom: 1px solid #ddd;
                padding-left: 12px;
            }

            .index {
                color: #999;
                width: 24px;
            }

            .name {
                color: #333;
                font-weight: bold;
            }

            .status {
                &.done{
                    color: @primary;
                }
                &.undone{
                    color: @alert;
                }
            }

            .action {
                padding-left: 0;
                padding-right: 12px;
                color: @primary;
                width: 56px;
                text-align: right;

                a {
                    color: @primary;
                    font-weight: bold;

                    &:hover {
                        color: @primaryHover;
                    }
                }
            }
        }
    }

    .workplan {
        border-top: none;
        width: 400px;
    }

    .warehouse-info {
        border-bottom: 1px dashed #ccc;
        width: 400px;
    }

    .more {
        font-size: 14px;
        color: @primary;
        padding-right: 12px;
        line-height: 24px;
        background-image: url(../image/more.png);
        background-position: right center;
        text-align: right;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: opacity .2s;

        &:hover {
            opacity: .8;
        }
    }

    .stat-card-group {
        position: absolute;
        top: 0;
        right: 0;
        .float-clear();

        .stat-card {
            width: 220px;
            height: 120px;
            padding: 19px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            float: left;
            position: relative;

            .label {
                font-size: 14px;
                color: #666666;
                line-height: 20px;
                position: relative;

                &:before {
                    width: 12px;
                    height: 3px;
                    position: absolute;
                    content: "";
                    top: 28px;
                    left: 0;
                    background: @primary;
                }
            }

            .value {
                font-family: helvetica;font-weight:bold;
                color: @primary;
                font-size: 32px;
                line-height: 40px;
                position: absolute;
                bottom: 18px;
                left: 20px;
            }

            .icon {
                .icon();
                font-size: 24px;
                line-height: 24px;
                height: 24px;
                width: 24px;
                color: @primary;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }

        .stat-card+.stat-card {
            margin-left: 20px;
        }
    }

    .error-list {
        position: absolute;
        top: 140px;
        right: 0;
        width: 940px;

        .layui-tab-title {
            position: relative;

            .more {
                position: absolute;
                right: 0;
                top: 2px;
                font-weight: bold;
            }
        }

        .error-item {
            height: 80px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            padding: 11px;
            cursor: pointer;

            &:hover {
                border: 1px solid @primary;
            }

            .row {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: start;

                .title {
                    font-size: 16px;
                    color: #333;
                    line-height: 24px;
                    font-weight: bold;
                    margin-left: 8px;
                }

                .tag-icon {
                    .icon();
                    font-size: 24px;
                    line-height: 24px;
                    color: @primary;
                }

                .link-btn {
                    position: absolute;
                    right: 0;
                }

                .status {
                    font-size: 12px;
                    line-height: 18px;
                    padding: 0 4px;
                    margin-left: 8px;
                    color: @alert;
                    &.todo{
                        border: 1px solid #EBB900;
                        color: #EBB900;
                    }
                    &.done{
                        border: 1px solid @primary;
                        color: @primary;
                    }
                    &.alert{
                        border: 1px solid @alert;
                        color: @alert;
                    }
                }
            }

            .text {
                margin-top: 12px;
                font-size: 14px;
                line-height: 20px;
                display: flex;

                .label {
                    color: #999;
                }

                .info {
                    color: #666;
                }

                .info+.label {
                    margin-left: 16px;
                }
            }
        }

        .error-item+.error-item {
            margin-top: 12px;
        }
    }
    .bare-title{
        font-size: 16px;
        color: #333;
        font-weight: bold;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
    }
    .link-card-group{
        .float-clear();
        .link-card{
            float: left;
            background: #fff;
            border: 1px solid #ccc;
            width: 260px;
            height: 144px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover{
                border-color: @primary;
                .link-title{
                    color: @primary;
                }
            }
            .icon{
                .icon();
                font-size: 40px;
                line-height: 40px;
                color: @primary;
            }
            .link-title{
                margin-top: 18px;
                font-size: 18px;
                font-weight: bold;
                color: #333;
                text-align: center;
                line-height: 24px;
            }
        }
        .link-card + .link-card{
            margin-left: 15px;
        }
    }
    .row{
        display: flex;
        justify-content: space-between;
    }
    .table-panel{
        width: 670px;
        .list {
            font-size: 14px;
            line-height: 43px;
            width: 100%;
            border: 1px solid #ddd;

            td {
                border-bottom: 1px solid #ddd;
                padding-left: 12px;
            }

            .index {
                color: #999;
                width: 24px;
            }

            .code {
                color: #333;
                font-weight: bold;
            }

            .info {
                color: #666;
            }

            .status {
                padding-left: 0;
                padding-right: 12px;
                text-align: right;
                font-weight: bold;
                &.normal{
                    color: @primary;
                }
                &.error{
                    color: @alert;
                }
            }
        }
    }
    .chart-panel{
        width: 670px;
        .chart{
            border: 1px solid #ddd;
            height: 320px;
            display: flex;
            align-items: center;
            position: relative;
            .halo-legend {
                height: 200px;
                .legend-item {
                    padding-left: 24px;
                    margin-bottom: 12px;
                    .label {
                        font-size: 14px;
                        color: #666;
                        line-height: 20px;
                        position: relative;
                        &:before {
                            position: absolute;
                            top: 2px;
                            left: -24px;
                            content: "";
                            width: 16px;
                            height: 16px;
                            box-sizing: border-box;
                        }
                    }

                    .value {
                        font-family: helvetica;font-weight:bold;
                        font-size: 18px;
                        line-height: 40px;
                        color: @primary;
                    }
                    &.entire{
                        .label{
                            &:before{
                                background: rgba(0,255,223,.1);
                                border: 1px solid @primaryLight;
                            }
                        }
                    }
                }
            }
            .year-select{
                width: 120px;
                position: absolute;
                top: 16px;
                right: 16px;
                .dropdown{
                    width: 120px;
                }
            }
        }
    }

}
.footer{
    font-size: 12px;
    color: #999;
    text-align: center;
    line-height: 50px;
    padding-top: 32px;
}

.steps-bar{
    margin-bottom: 20px;
    table{
        margin: 0 auto;
    }
    .step-item{
        padding: 0 12px;
        display: flex;
        .index{
            width: 28px;
            height: 28px;
            background: #ccc;
            border-radius: 14px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            line-height: 28px;
            color: #fff;
        }
        .title{
            line-height: 28px;
            font-size: 16px;
            color: #999;
            margin-left: 8px;
        }
        &.current{
            .index{
                background: @primary;
            }
            .title{
                color: @primary;
            }
        }
    }
    .step-line{
        height: 1px;
        width: 100px;
        background: #ddd;
    }
}

.info-form{
    tr{
    .label-td{
        width: 280px;
        padding: @tdPadding 0;
        border: none;
    }
    .info-td{
        width: 400px;
        padding: @tdPadding 0;
        border: none;
    }
    .hint-td{
        width: 280px - @tdPadding*2;
        padding: @tdPadding;
        border: none;
        font-size: 14px;
        color: @alert;
    }}
}

.popup-submit-panel{
    .submit-panel();
    position: fixed;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    width: 100%;
}

.device-info{
    font-size: 14px;
    color: #333;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 8px;
    padding-bottom: 4px;
    .tag{
        &.normal{
            color: @primary;
        }
        &.alert{
            color: @alert;
        }
    }
}

.info-table{
    width: 100%;
    line-height: 32px;
    margin-bottom: 12px;
    .label-td{
        width: 15%;
        text-align: right;
        color: #999;
        &:after{
            content:"：";
        }
    }
    .info-td{
        width: 35%;
        color: #333;
    }
}

.main-nav{
    .nav-item{
        position: relative;
        .sec-nav{}
        .third-nav-list{
            display: none;
            position: absolute;
            left: 0;
            top: 36px;
            width: 500px;
            z-index: 1000;
            border: 1px solid #ddd;
            background: #fff;
        }
        .third-nav-row{
            display: flex;
            padding-left: 16px;
            font-weight: normal;
            .third-nav-title{
                color: #999;
                width: 80px;
                text-align: right;
            }
            .third-nav-item{
                font-weight: normal;
                color: #555;
                cursor: pointer;
                padding: 0 4px;
                margin-left: 6px;
                &:hover{
                    color: @primary;
                }
            }
        }
        .third-nav-row + .third-nav-row{
            border-top: 1px dashed #ddd;
        }
        &:hover{
            .third-nav-list{
                display: block;
            }
        }
    }
}