.index-view {
    height: 100%;
    background-size: cover;
    .content {
        width: @centerWidth;
        margin: 0 auto;
        padding-bottom: 40px;
        display: flex;

        .info-panel {
            width: 280px;
            height: 540px;
            box-sizing: border-box;
            padding: 20px;
            background-image: url(../image/gradient.png);
            background-repeat: repeat no-repeat;
            position: relative;
            &:before{
                position: absolute;
                content: "";
                width: 3px;
                height: 3px;
                background: @primaryLight;
                top: 0;
                left: 0;
            }
            &:after{
                position: absolute;
                content: "";
                width: 3px;
                height: 3px;
                background: @primaryLight;
                top: 0;
                right: 0;
            }
            .thumbnail{
                width: 240px;
                height: 140px;
                display: block;
            }
            .divider{
                display: block;
                margin-top: 16px;
                margin-bottom: 12px;
            }
            .info-item {
                color: @primaryLight;
                margin-top: 8px;
                .label {
                    opacity: .6;
                    line-height: 20px;
                    font-size: 12px;
                }

                .info {
                    font-size: 16px;
                    line-height: 32px;
                    font-weight: bold;
                    width: 100%;
                    .text-ellipsis();
                }
            }
        }
        .card-list{
            flex: 1;
            .float-clear();
            .card{
                box-sizing: border-box;
                padding: 0 40px;
                position: relative;
                float: left;
                cursor: pointer;
                width: 340px;
                height: 260px;
                margin-left: 20px;
                margin-bottom: 20px;
                background-image: url(../image/entry-card.png);
                transition: background-image .2s;
                .light-1{
                    position: absolute;
                    top: 0;
                    right: 0;
                    opacity: .4;
                    transition: opacity .2s .4s;
                }
                .light-2{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: .4;
                    transition: opacity .2s .4s;
                }
                .light-3{
                    position: absolute;
                    top: 0;
                    right: 0;
                    opacity: .4;
                    transition: opacity .2s .4s;
                }
                .divider{
                    display: block;
                    margin-top: 16px;
                }
                .icon{
                    .icon();
                    margin-top: 40px;
                    font-size: 80px;
                    width: 80px;
                    line-height: 80px;
                    text-align: center;
                    height: 80px;
                    color: @primaryLight;
                    transition: color .2s;
                }
                .sub-title{
                    font-family: RobotoCondensed-Bold;
                    font-size: 18px;
                    color: #fff;
                    line-height: 24px;
                    margin-top: 16px;
                }
                .title{
                    font-size: 20px;
                    color: #fff;
                    font-weight: bolder;
                    line-height: 40px;
                    margin-top: 8px;
                }
                &:hover{
                    background-image: url(../image/entry-card-active.png);
                    .icon{
                        color: #fff;
                    }
                    .light-1{
                        opacity: .8;
                    }
                    .light-2{
                        opacity: .8;
                    }
                    .light-3{
                        opacity: .8;
                    }
                }
            }
        }
    }
}

@keyframes flow {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

@keyframes revFlow {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

.info-list{
    margin-top: 12px;
    margin-bottom: 12px;
    .info-item{
        border: 1px solid #e0e0e0;
        padding-top: 4px;
        width: 100%;
        .info-title{
            font-size: 16px;
            font-weight: bold;
            color: #333;
            line-height: 32px;
            padding: 0 8px;
            //display: flex;
           //justify-content: space-between;
            .tag{
                font-size: 12px;
                line-height: 24px;
                height: 24px;
                margin-top: 4px;
                font-weight: normal;
                .label{
                    color: @primary;
                    &.checked{
                        color: #555;
                    }
                    &.uncheck{
                        color: @alert;
                    }
                    &.checking{
                        color: @primary;
                    }
                }
            }
        }
        .text{
            font-size: 14px;
            color: #666;
            .label{
                color: #999;
                width: 10%;
                padding: 0 8px 6px 8px;
            }
            .info{
                width: 23.33333%;
                padding: 0 8px 6px 8px;
            }
            line-height: 22px;
            padding: 0 8px;
        }
        .action-bar{
            padding: 4px 8px;
        }
    }
    .info-item + .info-item{
        margin-top: 12px;
    }
}

.filter{
    //border-bottom: 1px solid #ddd;
    //margin-bottom: 12px;
    padding-bottom: 4px;
}

.search-bar{
    position: relative;
    .input{
        z-index: 1;
        position: relative;
        
        .input();
        width: 226px;
    }
    .icon-btn{
        margin-left: -32px;
        z-index: 10;
        position: relative;
    }
    display: flex;
    justify-content: flex-end;
}

.info-grid{
    margin-top: 8px;
    .float-clear();
    .info-unit{
        cursor: pointer;
        margin-right: 12px;
        float: left;
        margin-bottom: 12px;
        background: #FFFFFF;
        border: 1px solid #bbb;
        padding: 11px;
        width: 280px;
        position: relative;
        .status{
            padding: 0 8px;
            line-height: 24px;
            background: @primary;
            color: #fff;
            font-size: 12px;
            position: absolute;
            top: 11px;
            left: 11px;
        }
        .thumbnail{
            width: 280px;
            height: 180px;
            display: block;
        }
        .info-bar{
            font-size: 14px;
            line-height: 20px;
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            .title{
                color: #666;
                font-weight: bold;
            }
            .tag{
                color: #999;
            }
        }
        &:hover{
            border-color: @primary;
        }
        &.warning{
            .status{
                background: @alert;
            }
            border-color: @alert;
            &:hover{
                border-color: @alertHover;
                background-color: @subAlertHover;
            }
        }
    }
}