.view {
  padding: 20px;
  background-color: #02061F;
  background-image: url(../images/grid.png);
  background-repeat: repeat;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}
.view.searching .mask {
  display: block;
}
.view .mask {
  display: none;
  background: rgba(1, 4, 20, 0.85);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
.view .mask .search-bar {
  width: 800px;
  height: 64px;
  position: absolute;
  top: 35%;
  margin-top: -32px;
  left: 50%;
  margin-left: -400px;
  font-size: 14px;
}
.view .mask .search-bar:after {
  content: "";
  display: table;
  font-size: 0;
  clear: both;
}
.view .mask .search-bar .input {
  float: left;
  border: 1px solid rgba(86, 216, 253, 0.8);
  border-right: none;
  line-height: 62px;
  width: 670px;
  background: rgba(86, 216, 253, 0.06);
  box-sizing: border-box;
  padding: 0 16px;
  color: #fff;
}
.view .mask .search-bar .input:focus {
  outline: none;
}
.view .mask .search-bar .input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.view .mask .search-bar .search-button {
  display: block;
  float: left;
  width: 130px;
  line-height: 64px;
  color: #fff;
  text-align: center;
  background-image: url(../images/search-button.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all .2s;
}
.view .mask .search-bar .search-button:hover {
  background-image: url(../images/search-button-active.png);
}
.view .header {
  height: 60px;
  width: 1880px;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: relative;
}
@keyframes flash {
  0% {
    opacity: .8;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .8;
  }
}
.view .header .title-light {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -216px;
  display: block;
  animation: flash 5s ease infinite;
}
.view .header .welcome {
  font-size: 14px;
  color: #56D8FD;
  width: 180px;
  text-align: center;
  line-height: 36px;
}
.view .header .link {
  width: 111px;
  height: 36px;
  top: 0;
  right: 0;
  position: absolute;
  background-image: url(../images/home-link.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  font-size: 14px;
  line-height: 36px;
  color: #56D8FD;
  box-sizing: border-box;
  padding-left: 41px;
  transition: all .2s;
  cursor: default;
}
.view .header .link .icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 16px;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  text-align: center;
  position: absolute;
  font-weight: normal;
  top: 10px;
  left: 18px;
}
.view .header .link .link-highlight {
  background-image: url(../images/home-link.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 111px;
  height: 36px;
  top: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  transition: all .2s;
}
.view .header .link:hover {
  color: #fff;
}
.view .header .link:hover .link-highlight {
  opacity: .5;
}
.view .area {
  position: absolute;
  top: 100px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  height: auto;
  width: auto;
}
.view .area .sider {
  border-right: none;
  border-top: none;
  width: 180px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.view .area .sider .top-bg {
  width: 15px;
  height: 20px;
  position: absolute;
  border-top: 1px solid rgba(86, 216, 253, 0.5);
  border-left: 1px solid rgba(86, 216, 253, 0.5);
}
.view .area .sider .center-bg {
  width: 1px;
  top: 20px;
  bottom: 30px;
  left: 0;
  background: rgba(86, 216, 253, 0.5);
  position: absolute;
}
.view .area .sider .bottom-bg {
  bottom: 0;
  width: 180px;
  height: 30px;
  left: 0;
  position: absolute;
  background-image: url(../images/sider-bottom.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.view .area .sider .nav-list {
  padding-left: 19px;
  position: relative;
}
.view .area .sider .nav-list .nav-item {
  display: block;
  cursor: default;
  margin-bottom: 20px;
  width: 161px;
  height: 56px;
  background-image: url(../images/nav.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 4px 0 4px 40px;
  transition: all .2s;
}
.view .area .sider .nav-list .nav-item:before {
  content: "";
  width: 3px;
  height: 32px;
  background: #56D8FD;
  position: absolute;
  right: 0;
  top: 12px;
  opacity: 0;
  transition: opacity .2s ease .06s;
}
.view .area .sider .nav-list .nav-item .icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 16px;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  text-align: center;
  position: absolute;
  font-weight: normal;
  top: 10px;
  left: 16px;
  color: #56D8FD;
  opacity: .88;
}
.view .area .sider .nav-list .nav-item .item-title {
  font-size: 15px;
  line-height: 28px;
  color: #56D8FD;
  opacity: .88;
  font-weight: bold;
  transition: all .2s;
}
.view .area .sider .nav-list .nav-item .sub-item-title {
  font-size: 12px;
  font-family: helvetica-cb;
  line-height: 18px;
  font-weight: bold;
  color: #56D8FD;
  opacity: .88;
  transition: all .2s ease .2s;
}
.view .area .sider .nav-list .nav-item:hover {
  background-image: url(../images/nav-current.png);
}
.view .area .sider .nav-list .nav-item:hover .holder {
  background-image: url(../images/nav-holder-current.png);
}
.view .area .sider .nav-list .nav-item:hover .item-title {
  opacity: 1;
  color: #fff;
}
.view .area .sider .nav-list .nav-item:hover .sub-item-title {
  opacity: 1;
}
.view .area .sider .nav-list .nav-item.current {
  background-image: url(../images/nav-current.png);
}
.view .area .sider .nav-list .nav-item.current .holder {
  background-image: url(../images/nav-holder-current.png);
}
.view .area .sider .nav-list .nav-item.current:before {
  opacity: 1;
}
.view .area .sider .nav-list .nav-item.current .item-title {
  color: #fff;
  opacity: 1;
}
.view .area .sider .nav-list .nav-item.current .sub-item-title {
  opacity: 1;
}
.view .area .sider .nav-list .nav-item .holder {
  position: absolute;
  top: 34px;
  left: -18px;
  width: 27px;
  height: 14px;
  background-image: url(../images/nav-holder.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all .2s ease .3s;
}
.view .area .content {
  padding: 29px 19px 29px 29px;
  position: absolute;
  top: 0;
  left: 180px;
  right: 0;
  bottom: 0;
}
.view .area .content .quadrant-1-bg {
  bottom: 0;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  position: absolute;
  background-image: url(../images/content-top-corner.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
}
.view .area .content .quadrant-2-bg {
  bottom: 0;
  top: 24px;
  left: 24px;
  right: 0;
  position: absolute;
  border-bottom: 1px solid rgba(86, 216, 253, 0.5);
  border-right: 1px solid rgba(86, 216, 253, 0.5);
  z-index: 1;
}
.view .area .content .quadrant-3-bg {
  width: 24px;
  height: 24px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-image: url(../images/content-bottom-corner.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
}
.view .area .content .quadrant-4-bg {
  top: 0;
  bottom: 24px;
  left: 0;
  right: 24px;
  position: absolute;
  border-top: 1px solid rgba(86, 216, 253, 0.5);
  border-left: 1px solid rgba(86, 216, 253, 0.5);
  z-index: 1;
}
.view .area .content .iframe {
  position: relative;
  z-index: 2;
}
.nice-select {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  display: block;
  float: left;
  margin-right: 24px;
  width: 160px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  line-height: 28px;
  color: #fff;
  font-size: 14px;
  padding: 0 34px 0 10px;
  position: relative;
  min-width: 120px;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #56D8FD;
}
.nice-select:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 24px;
  border: 1px solid rgba(86, 216, 253, 0.5);
  height: 28px;
  border-right: none;
}
.nice-select:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/dropdown-right.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 24px;
  height: 30px;
}
.nice-select.open:before {
  border: 1px solid #56D8FD;
  border-right: none;
  background: rgba(86, 216, 253, 0.12);
}
.nice-select.open:after {
  background-image: url(../images/dropdown-right-active.png);
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  left: 0;
  right: 0;
}
.nice-select .list {
  margin: 2px 0 0 0;
  background-color: #02061F;
  box-sizing: border-box;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(1) translateY(-21px);
  -ms-transform: scale(1) translateY(-21px);
  transform: scale(1) translateY(-21px);
  z-index: 9;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid rgba(86, 216, 253, 0.5);
  border-top: none;
  line-height: 26px;
  color: #fff;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background: rgba(86, 216, 253, 0.12);
}
.nice-select .option.selected {
  font-weight: bold;
}
.building-map {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.building-map .tab-bar {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.building-map .tab-bar .tab-item {
  cursor: default;
  width: 118px;
  height: 46px;
  font-weight: bold;
  position: relative;
  color: #56D8FD;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  border: 1px solid rgba(86, 216, 253, 0.5);
  border-left: none;
  z-index: 1;
}
.building-map .tab-bar .tab-item:hover {
  background: rgba(86, 216, 253, 0.12);
  color: #fff;
  border: 1px solid #56D8FD;
  margin-left: -1px;
  z-index: 2;
}
.building-map .tab-bar .tab-item.current {
  background: rgba(86, 216, 253, 0.12);
  color: #fff;
  border: 1px solid #56D8FD;
  margin-left: -1px;
  z-index: 2;
}
.building-map .tab-bar .tab-item .annotation {
  font-family: helvetica-cb;
  font-size: 14px;
}
.building-map .tab-bar .tab-item:last-child {
  background-image: url(../images/tab-last.png);
  background-repeat: no-repeat;
  border: none;
  background-position: right center;
  width: 119px;
  height: 48px;
}
.building-map .tab-bar .tab-item:last-child:hover {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/tab-last-highlight.png);
  border-left: 1px solid #56D8FD;
}
.building-map .tab-bar .tab-item:last-child.current {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/tab-last-highlight.png);
  border-left: 1px solid #56D8FD;
}
.building-map .tab-bar .tab-item:first-child {
  background-image: url(../images/tab-first.png);
  background-repeat: no-repeat;
  border: none;
  background-position: left center;
  width: 120px;
  height: 48px;
}
.building-map .tab-bar .tab-item:first-child:hover {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/tab-first-highlight.png);
  margin-left: 0;
}
.building-map .tab-bar .tab-item:first-child.current {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/tab-first-highlight.png);
  margin-left: 0;
}
.building-map .floor-list {
  flex: 1;
  margin-top: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}
.building-map .floor-list .floor-row {
  margin-bottom: 12px;
  display: flex;
}
.building-map .floor-list .floor-row.current .room-list {
  border: 1px solid rgba(86, 216, 253, 0.5);
  background: rgba(86, 216, 253, 0.12);
}
.building-map .floor-list .floor-row.current .floor-index {
  background: rgba(86, 216, 253, 0.12);
  color: #fff;
}
.building-map .floor-list .floor-row.current .floor-index .bracket {
  border: 2px solid #56D8FD;
}
.building-map .floor-list .floor-row .floor-index {
  font-family: helvetica-cb;
  color: #56D8FD;
  font-size: 14px;
  line-height: 36px;
  width: 40px;
  text-align: center;
  height: 36px;
  position: relative;
  margin-top: 11px;
  margin-right: 10px;
}
.building-map .floor-list .floor-row .floor-index .bracket {
  border: 2px solid rgba(86, 216, 253, 0.5);
  height: 36px;
  box-sizing: border-box;
  width: 4px;
  position: absolute;
  top: 0;
}
.building-map .floor-list .floor-row .floor-index .bracket.left {
  border-right: none;
  left: 0;
}
.building-map .floor-list .floor-row .floor-index .bracket.right {
  border-left: none;
  right: 0;
}
.building-map .floor-list .floor-row .room-list {
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all .2s ease;
  padding: 4px;
  flex-wrap: wrap;
  display: flex;
  flex: 1;
}
.building-map .floor-list .floor-row .room-list.current {
  border: 1px solid rgba(86, 216, 253, 0.5);
  background: rgba(86, 216, 253, 0.12);
}
.building-map .floor-list .floor-row .room-list .room-item {
  margin: 6px;
  position: relative;
  border: 1px solid rgba(86, 216, 253, 0.5);
  padding: 14px;
  box-sizing: border-box;
  min-width: 180px;
  transition: all .2s;
}
.building-map .floor-list .floor-row .room-list .room-item:hover {
  background: rgba(86, 216, 253, 0.12);
}
.building-map .floor-list .floor-row .room-list .room-item .room-number {
  font-size: 20px;
  font-family: helvetica-cb;
  color: #56D8FD;
}
.building-map .floor-list .floor-row .room-list .room-item .room-name {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  line-height: 32px;
}
.building-map .floor-list .floor-row .room-list .room-item .annotation {
  font-size: 12px;
  font-family: helvetica-cb;
  color: #fff;
  opacity: .6;
}
.building-map .floor-list .floor-row .room-list .room-item .quadrant-1-corner {
  position: absolute;
  width: 8px;
  height: 8px;
  top: -1px;
  right: -1px;
  border-top: 2px solid #56D8FD;
  border-right: 2px solid #56D8FD;
}
.building-map .floor-list .floor-row .room-list .room-item .quadrant-2-corner {
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -1px;
  right: -1px;
  border-bottom: 2px solid #56D8FD;
  border-right: 2px solid #56D8FD;
}
.building-map .floor-list .floor-row .room-list .room-item .quadrant-3-corner {
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -1px;
  left: -1px;
  border-bottom: 2px solid #56D8FD;
  border-left: 2px solid #56D8FD;
}
.building-map .floor-list .floor-row .room-list .room-item .quadrant-4-corner {
  position: absolute;
  width: 8px;
  height: 8px;
  top: -1px;
  left: -1px;
  border-top: 2px solid #56D8FD;
  border-left: 2px solid #56D8FD;
}
@font-face {
  font-family: 'helvetica-cb';
  src: url('../fontface/helvetica.ttf');
}
@font-face {
  font-family: 'iconfont';
  src: url('../fontFace/iconfont.eot');
  src: url('../fontFace/iconfont.eot?#iefix') format('embedded-opentype'), url('../fontFace/iconfont.woff2') format('woff2'), url('../fontFace/iconfont.woff') format('woff'), url('../fontFace/iconfont.ttf') format('truetype'), url('../fontFace/iconfont.svg#iconfont') format('svg');
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
iframe {
  display: block;
}
iframe html,
iframe body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
  cursor: default;
}
.video-list {
  height: 100%;
}
.video-list:after {
  content: "";
  display: table;
  font-size: 0;
  clear: both;
}
.video-list .video-item {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 390px;
  border: 2px solid rgba(86, 216, 253, 0.5);
  box-sizing: border-box;
  padding: 8px;
}
.video-list .video-item:nth-child(4n) {
  margin-right: 0;
}
.video-list .video-item:hover {
  border: 2px solid #56D8FD;
}
.video-list .video-item .video-thumbnail {
  width: 370px;
  height: 220px;
  display: block;
}
.video-list .video-item .info-bar {
  margin-top: 8px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
}
.video-list .video-item .info-bar:after {
  content: "";
  display: table;
  font-size: 0;
  clear: both;
}
.video-list .video-item .info-bar .video-title {
  float: left;
  width: 270px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.video-list .video-item .info-bar .date {
  float: right;
}
.intro-content {
  height: 100%;
}
.intro-content .section {
  margin-bottom: 56px;
}
.intro-content .section .section-title {
  font-size: 24px;
  color: #56D8FD;
  font-weight: bold;
  line-height: 40px;
  padding-bottom: 8px;
}
.intro-content .section .section-content p {
  font-size: 16px;
  color: rgba(86, 216, 253, 0.8);
  line-height: 32px;
  text-indent: 32px;
  margin: 4px 0;
  padding: 0;
}
.intro-content .section .image-row {
  margin-top: 32px;
}
.intro-content .section .image-row img {
  display: inline-block;
  margin-left: 24px;
}
.evaluation-view {
  padding-right: 10px;
}
.evaluation-view .label {
  color: #56D8FD;
  font-size: 15px;
  margin-bottom: 16px;
}
.evaluation-view .raty-bar {
  cursor: default!important;
  margin-bottom: 24px;
}
.evaluation-view .raty-bar img {
  cursor: default!important;
}
.evaluation-view .textarea {
  background: rgba(86, 216, 253, 0.12);
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(86, 216, 253, 0.5);
  color: #fff;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 24px;
}
.evaluation-view .textarea:focus {
  outline: none;
  border: 1px solid #56D8FD;
}
.evaluation-view .textarea::placeholder {
  color: rgba(86, 216, 253, 0.5);
}
.evaluation-view .button {
  background-image: url(../images/button.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 200px;
  height: 40px;
  font-size: 16px;
  margin-top: 20px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  transition: all .2s;
}
.evaluation-view .button:hover {
  background-image: url(../images/button-hover.png);
}
.standard-list-view {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.standard-list-view .filter {
  position: relative;
  z-index: 10;
}
.standard-list-view .filter:after {
  content: "";
  display: table;
  font-size: 0;
  clear: both;
}
.standard-list-view .filter .label {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  line-height: 30px;
  float: left;
  margin-right: 4px;
}
.standard-list-view .standard-list {
  flex: 1;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}
.standard-list-view .standard-list:after {
  content: "";
  display: table;
  font-size: 0;
  clear: both;
}
.standard-list-view .standard-list .standard-item {
  margin: 0 20px 20px 0;
  background: rgba(86, 216, 253, 0.09);
  border: 1px solid rgba(86, 216, 253, 0.18);
  border-left: none;
  border-right: none;
  width: 530px;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
  float: left;
  transition: all .2s;
}
.standard-list-view .standard-list .standard-item:nth-child(3n) {
  margin-right: 0;
}
.standard-list-view .standard-list .standard-item:hover {
  background: rgba(86, 216, 253, 0.12);
}
.standard-list-view .standard-list .standard-item:hover .bracket {
  border: 2px solid #56D8FD;
}
.standard-list-view .standard-list .standard-item .bracket {
  border: 2px solid rgba(86, 216, 253, 0.5);
  box-sizing: border-box;
  width: 8px;
  position: absolute;
  top: -1px;
  bottom: -1px;
  transition: all .2s;
}
.standard-list-view .standard-list .standard-item .bracket.left {
  border-right: none;
  left: 0;
}
.standard-list-view .standard-list .standard-item .bracket.right {
  border-left: none;
  right: 0;
}
.standard-list-view .standard-list .standard-item .title-area:after {
  content: "";
  display: table;
  font-size: 0;
  clear: both;
}
.standard-list-view .standard-list .standard-item .title-area .title {
  color: #56D8FD;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  float: left;
}
.standard-list-view .standard-list .standard-item .title-area .tag {
  color: rgba(86, 216, 253, 0.5);
  border: 1px solid rgba(86, 216, 253, 0.5);
  line-height: 22px;
  margin-left: 12px;
  padding: 0 4px;
  font-size: 12px;
  float: left;
}
.standard-list-view .standard-list .standard-item .info-area {
  padding: 16px 0;
}
.standard-list-view .standard-list .standard-item .info-area:after {
  content: "";
  display: table;
  font-size: 0;
  clear: both;
}
.standard-list-view .standard-list .standard-item .info-area .info-item {
  padding: 12px 0;
  width: 235px;
  float: left;
}
.standard-list-view .standard-list .standard-item .info-area .info-item .label {
  font-size: 12px;
  line-height: 16px;
  color: rgba(86, 216, 253, 0.5);
}
.standard-list-view .standard-list .standard-item .info-area .info-item .info {
  font-size: 16px;
  margin-top: 6px;
  line-height: 24px;
  color: #fff;
  font-family: helvetica-cb;
}
.standard-list-view .standard-list .standard-item .action-area {
  display: flex;
  justify-content: center;
}
.standard-list-view .standard-list .standard-item .action-area:after {
  content: "";
  display: table;
  font-size: 0;
  clear: both;
}
.standard-list-view .standard-list .standard-item .action-area .button {
  background-image: url(../images/button.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 200px;
  height: 40px;
  font-size: 16px;
  margin-top: 20px;
  line-height: 40px;
  color: #56D8FD;
  text-align: center;
  transition: all .2s;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.standard-list-view .standard-list .standard-item .action-area .button .icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 6px;
  font-size: 20px;
  display: block;
}
.standard-list-view .standard-list .standard-item .action-area .button:hover {
  background-image: url(../images/button-hover.png);
  color: #fff;
}
